@mixin border($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($time){
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  -o-transition: $time;
  transition: $time;
}
@mixin transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
@mixin boxshadow($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
.caption{
  font-size:24px;
  line-height:28px;
}
.ltCaption{
  font-size:18px;
  line-height:24px;
}
a{
  @include transition(all .3s);
}
ul{
  padding:0;
  list-style:none;
  margin-bottom:0;
}
*{
  &:focus,&:hover{
    outline: none !important;
    text-decoration: none !important;
  }
}