$themeOneMain : #232323;
$themeOneSecond : #191919;
$themeOneThird : #303030;
$themeOneFourth : #b3b3b3;
$themeOneFifth : #010101;

$cloud    : #ecf0f1;

$mainFamily       : 'Open Sans', sans-serif;

$stagePadding : 30px 0;
$boxPadding   : 10px 0;